@model Witcher.Beastiary.Core.Models.MonsterModel

<div class="jumbotron">
    <div class="row">
        <img src="https://via.placeholder.com/150" />
        <ul>
            <li><h6>@Model.Name</h6></li>
            <li><h6>@Model.Location</h6></li>
            <li><h6>@Model.Weakness</h6></li>
        </ul>
    </div>
    <div id="sub-menu" class="justify-content-center">
        <a class="btn btn-sm btn-outline-info" asp-controller="Beast" asp-action="Edit" asp-route-id="@Model.Id"><i class="far fa-edit"></i></a>
        <a class="btn btn-sm btn-outline-danger" asp-route-id="@Model.Id" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i></a>
        <a class="btn btn-sm btn-outline-primary" asp-controller="Beastiary" asp-action="Index"><i class="fas fa-list"></i></a>
    </div>

</div>

    <p>@Model.Description</p>

<partial name="_Delete" />